//==============================================================================
//  Utility: Extends
//==============================================================================
%resetlist {
  padding: 0;
  list-style: none;
}

%clearfix {
  @include clearfix;
}

%sprite {
  display: block;

  @include hide-text;
}

%radius {
  @include border-radius(3px);
}

%base {
  padding: 20px;
  border: $border 1px solid;
  background: $background;

  @extend %radius;
}

%title {
  font-weight: normal;
  letter-spacing: .2em;
  text-transform: uppercase;

  @include fontSize(13);
}

%list {
  line-height: 1.8;
  border-bottom: $border 1px solid;

  @extend %resetlist;
  li {
    line-height: 1.3;
    padding: 15px 10px;
    border-top: $border 1px solid;
    &::before {
      margin-right: .3em;
      content: '\f1db';
      color: $key-color-1;

      @extend %icon;
    }
  }
}

%border-top {
  border-top: $border 1px solid;
}

%border-bottom {
  border-bottom: $border 1px solid;
}

%notes {
  font-size: .9em;
  color: $key-color-2-ll;
}

%btn {
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: $key-color-1;

  @include box-sizing(border-box);
  @extend %radius;
  &:visited {
    color: white;
  }
  &:hover {
    opacity: .7;
    color: white;

    @include transition-property(opacity);
    @include transition-duration(.5s);
  }
}

%icon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
}
