//==============================================================================
//  Utility: Extends
//==============================================================================
%resetlist {
  padding: 0;
  list-style: none;
}

%clearfix {
  @include clearfix;
}

%sprite {
  @include hide-text;

  display: block;
}

%radius {
  @include border-radius(3px);
}

%base {
  @extend %radius;

  padding: 20px;
  background: $background;
  border: $border 1px solid;
}

%title {
  @include font-size(13);

  font-weight: normal;
  letter-spacing: .2em;
  text-transform: uppercase;
}

%list {
  @extend %resetlist;

  line-height: 1.8;
  border-bottom: $border 1px solid;
  li {
    padding: 15px 10px;
    line-height: 1.3;
    border-top: $border 1px solid;
    &::before {
      @extend %icon;

      margin-right: .3em;
      color: $key-color-1;
      content: "\f1db";
    }
  }
}

%border-top {
  border-top: $border 1px solid;
}

%border-bottom {
  border-bottom: $border 1px solid;
}

%notes {
  font-size: .9em;
  color: $key-color-2-ll;
}

%btn {
  @include box-sizing(border-box);
  @extend %radius;

  display: inline-block;
  padding: 10px 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  background: $key-color-1;
  &:visited {
    color: white;
  }
  &:hover {
    @include transition-property(opacity);
    @include transition-duration(.5s);

    color: white;
    opacity: .7;
  }
}

%icon {
  display: inline-block;
  width: 1em;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: inherit;
  text-decoration: none;
}
