$c-1: #000;
$c-2: #099;
$c-3: #008080;
$c-4: #000080;
$c-5: #009926;
$c-6: #555;
$c-7: #458;
$c-8: #998;
$c-9: #999;
$c-10: #900;
$c-11: #800080;
$c-12: #888;
$c-13: #0086b3;
$c-14: #990073;
$c-15: #d01040;
$c-16: #bbb;
$c-17: #a00;
$c-18: #aaa;
$c-19: #a61717;
$c-20: #3c5d5d;

.hll {
  background-color: #ffc;
}
.c {
  font-style: italic;
  color: $c-8;
} /* Comment */
.err {
  color: $c-19;
  background-color: #e3d2d2;
} /* Error */
.k {
  font-weight: bold;
  color: $c-1;
} /* Keyword */
.o {
  font-weight: bold;
  color: $c-1;
} /* Operator */
.cm {
  font-style: italic;
  color: $c-8;
} /* Comment.Multiline */
.cp {
  font-style: italic;
  font-weight: bold;
  color: $c-9;
} /* Comment.Preproc */
.c1 {
  font-style: italic;
  color: $c-8;
} /* Comment.Single */
.cs {
  font-style: italic;
  font-weight: bold;
  color: $c-9;
} /* Comment.Special */
.gd {
  color: $c-1;
  background-color: #fdd;
} /* Generic.Deleted */
.ge {
  font-style: italic;
  color: $c-1;
} /* Generic.Emph */
.gr {
  color: $c-17;
} /* Generic.Error */
.gh {
  color: $c-9;
} /* Generic.Heading */
.gi {
  color: $c-1;
  background-color: #dfd;
} /* Generic.Inserted */
.go {
  color: $c-12;
} /* Generic.Output */
.gp {
  color: $c-6;
} /* Generic.Prompt */
.gs {
  font-weight: bold;
} /* Generic.Strong */
.gu {
  color: $c-18;
} /* Generic.Subheading */
.gt {
  color: $c-17;
} /* Generic.Traceback */
.kc {
  font-weight: bold;
  color: $c-1;
} /* Keyword.Constant */
.kd {
  font-weight: bold;
  color: $c-1;
} /* Keyword.Declaration */
.kn {
  font-weight: bold;
  color: $c-1;
} /* Keyword.Namespace */
.kp {
  font-weight: bold;
  color: $c-1;
} /* Keyword.Pseudo */
.kr {
  font-weight: bold;
  color: $c-1;
} /* Keyword.Reserved */
.kt {
  font-weight: bold;
  color: $c-7;
} /* Keyword.Type */
.m {
  color: $c-2;
} /* Literal.Number */
.s {
  color: $c-15;
} /* Literal.String */
.na {
  color: $c-3;
} /* Name.Attribute */
.nb {
  color: $c-13;
} /* Name.Builtin */
.nc {
  font-weight: bold;
  color: $c-7;
} /* Name.Class */
.no {
  color: $c-3;
} /* Name.Constant */
.nd {
  font-weight: bold;
  color: $c-20;
} /* Name.Decorator */
.ni {
  color: $c-11;
} /* Name.Entity */
.ne {
  font-weight: bold;
  color: $c-10;
} /* Name.Exception */
.nf {
  font-weight: bold;
  color: $c-10;
} /* Name.Function */
.nl {
  font-weight: bold;
  color: $c-10;
} /* Name.Label */
.nn {
  color: $c-6;
} /* Name.Namespace */
.nt {
  color: $c-4;
} /* Name.Tag */
.nv {
  color: $c-3;
} /* Name.Variable */
.ow {
  font-weight: bold;
  color: $c-1;
} /* Operator.Word */
.w {
  color: $c-16;
} /* Text.Whitespace */
.mf {
  color: $c-2;
} /* Literal.Number.Float */
.mh {
  color: $c-2;
} /* Literal.Number.Hex */
.mi {
  color: $c-2;
} /* Literal.Number.Integer */
.mo {
  color: $c-2;
} /* Literal.Number.Oct */
.sb {
  color: $c-15;
} /* Literal.String.Backtick */
.sc {
  color: $c-15;
} /* Literal.String.Char */
.sd {
  color: $c-15;
} /* Literal.String.Doc */
.s2 {
  color: $c-15;
} /* Literal.String.Double */
.se {
  color: $c-15;
} /* Literal.String.Escape */
.sh {
  color: $c-15;
} /* Literal.String.Heredoc */
.si {
  color: $c-15;
} /* Literal.String.Interpol */
.sx {
  color: $c-15;
} /* Literal.String.Other */
.sr {
  color: $c-5;
} /* Literal.String.Regex */
.s1 {
  color: $c-15;
} /* Literal.String.Single */
.ss {
  color: $c-14;
} /* Literal.String.Symbol */
.bp {
  color: $c-9;
} /* Name.Builtin.Pseudo */
.vc {
  color: $c-3;
} /* Name.Variable.Class */
.vg {
  color: $c-3;
} /* Name.Variable.Global */
.vi {
  color: $c-3;
} /* Name.Variable.Instance */
.il {
  color: $c-2;
} /* Literal.Number.Integer.Long */
