//==============================================================================
//  Module: Gist
//==============================================================================

.gist {
  margin: $mlv4 0 $mlv4 $mlv5;

  .line-numbers,
  .line-pre > .line {
    font-size: 12px;
    line-height: 1.4;
  }
}
