//==============================================================================
//  Module: Side
//==============================================================================

.side {
  float: right;
  width: $content-width-sub;
  padding: 50px 0;

  @include linkColor($base-link-color, $base-link-color, 'underline', 'none', $base-link-color, true);
  aside, nav {
    @include fontSize(14);
  }

  @include respondTo(large) {
    float: none;
    width: 100%;
    padding-top: 0;
  }
}

.side__title {
  margin: $mlv2 0 2em;

  @extend %title;
}

.side__list {
  @extend %list;
  @include fontSize(12);
}

.side__list--tags {
  //  @extend .side__list;
  //
  //  li::before {
  //    content: '\f02b';
  //  }
  padding-left: 0;
  list-style: none;

  @extend %resetlist;
  @include fontSize(12);

  li {
    display: inline-block;
    margin: 0 0 4px 14px;
  }
  a {
    font-size: 12px;
    line-height: 12px;
    position: relative;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    background: $key-color-1;

    @include border-radius(0 3px 3px 0);
    &:visited {
      color: white;
    }
    &:hover {
      opacity: 0.7;
      color: white;

      @include transition-property(opacity);
      @include transition-duration(0.5s);
    }
    &::before {
      position: absolute;
      top: 0;
      left: -20px;
      display: block;
      width: 0;
      height: 4px;
      content: '';
      border-width: 10px;
      border-style: solid;
      border-color: transparent $key-color-1 transparent transparent;
    }
    &::after {
      position: absolute;
      top: 10px;
      left: -4px;
      display: block;
      width: 4px;
      height: 4px;
      content: '';
      background: white;

      @include border-radius(2px);
    }
  }
}

.side__list--categories {
  @extend .side__list;
  li::before {
    content: '\f07b';
  }
}

.side__list--archives {
  @extend .side__list;
  li::before {
    content: '\f187';
  }
}

.side__list--hatena {
  @extend .side__list;
  li::before {
    content: '\f097';
  }
}

.side__recommend {
  line-height: 1.5;
  margin: 15px 0;
  padding: 15px 10px 10px;

  @extend %base;
  figure {
    margin: 0 0 10px;

    @extend %clearfix;
    img {
      float: left;
      width: 100px;

      @include box-shadow(rgba($key-color-2, 0.2) 1px 1px 5px -1px);
    }
    figcaption {
      margin-left: 120px;
    }
  }
  p {
    margin: 0;

    @extend %notes;
  }
}
