//==============================================================================
//  Prettify: Custom Solarized Dark
//==============================================================================

pre {

  &.prettyprint {
    background: #002b36 !important;
    word-wrap: normal;

    code {
      margin: 0;
      color: #fff;
    }
  }

  .nocode {
    background-color: none;
    color: inherit;
  }

  .pln {
    color: #839496;
  }

  .str,
  .lit,
  .atv {
    color: #2aa198;
  }

  .kwd {
    color: #268bd2;
    font-weight: bold;
  }

  .com,
  .dec {
    color: #586e75;
  }

  .typ {
    color: #b58900;
  }

  .pun,
  .opn,
  .clo {
    color: #839496;
  }

  .tag {
    color: #268bd2;
    font-weight: bold;
  }

  .atn {
    color: #839496;
  }

}

.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

.L0,
.L1,
.L2,
.L3,
.L5,
.L6,
.L7,
.L8 { list-style-type: none; }

.L1,
.L3,
.L5,
.L7,
.L9 { }

@media print {
  pre {

    &.prettify { background-color: none; }

    .str { color: #060; }
    .kwd { color: #006; font-weight: bold; }
    .com { color: #600; font-style: italic; }
    .typ { color: #404; font-weight: bold; }
    .lit { color: #044; }
    .pun { color: #440; }
    .pln { color: #000; }
    .tag { color: #006; font-weight: bold; }
    .atn { color: #404; }
    .atv { color: #060; }
  }
}
