== slashless_stylesheet_link_tag '//fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|PT+Sans:400,700,400italic,700italic,700italic', :type => nil
== slashless_stylesheet_link_tag 'style', :type => nil

- if current_article
  == slashless_stylesheet_link_tag 'syntax', :type => nil
