//==============================================================================
//  Prettify: Tomorrow Night Eighties
//==============================================================================

pre {
  &.prettyprint {
    word-wrap: normal;
    background: #2d2d2d !important;

    code {
      margin: 0;
      color: #fff;
    }
  }

  .nocode {
    color: #000;
    background-color: none;
  }

  .str {
    color: #9c9;
  }

  .kwd {
    color: #c9c;
  }

  .com {
    color: #999;
  }

  .typ {
    color: #69c;
  }

  .lit {
    color: #f99157;
  }

  .pun {
    color: #ccc;
  }

  .opn {
    color: #ccc;
  }

  .clo {
    color: #ccc;
  }

  .pln {
    color: #ccc;
  }

  .tag {
    color: #f2777a;
  }

  .atn {
    color: #f99157;
  }

  .atv {
    color: #6cc;
  }

  .dec {
    color: #f99157;
  }

  .var {
    color: #f2777a;
  }

  .fun {
    color: #69c;
  }
}

.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

.L0,
.L1,
.L2,
.L3,
.L5,
.L6,
.L7,
.L8 {
  list-style-type: none;
}

@media print {
  pre {
    &.prettify {
      background-color: none;
    }

    .str {
      color: #060;
    }
    .kwd {
      font-weight: bold;
      color: #006;
    }
    .com {
      font-style: italic;
      color: #600;
    }
    .typ {
      font-weight: bold;
      color: #404;
    }
    .lit {
      color: #044;
    }
    .pun {
      color: #440;
    }
    .pln {
      color: #000;
    }
    .tag {
      font-weight: bold;
      color: #006;
    }
    .atn {
      color: #404;
    }
    .atv {
      color: #060;
    }
  }
}
