<article class="articleListItem" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <figure class="articleListItem__eyecatch">
    <a href="{{ .Permalink }}" itemprop="url">
      <img class="Lazy" src="/assets/images/cmn_eyecatch.png" data-original="{{ with .Params.eyecatch }}{{ . }}{{ end }}" alt="" itemprop="image">
    </a>
  </figure>
  <h1 class="articleListItem__title" itemprop="name">
    <a href="{{ .Permalink }}" itemprop="url">{{ .Title | safeHTML }}</a>
  </h1>
  {{ with .Summary }}
    <div class="articleListItem__body" itemprop="description">
      <p>{{ . }}</p>
    </div>
  {{ end }}
  <footer class="article__footer" itemprop="articleBody">
    <ul>
      <li class="article__footerTime">
        <span>Posted on</span>
        <time datetime="{{ .Date.Format "2006-01-02T00:00:00+09:00" }}" itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time>
      </li>
      <li class="article__footerCategories">
        <span>Categories</span>
        {{ with .Params.categories }}
          {{ range . }}<a href="{{ "/categories/" | relURL }}{{ . | urlize }}/" rel="tag category">{{ . }}</a>{{ end }}
        {{ end }}
      </li>
    </ul>
  </footer>
</article>