//==============================================================================
//  Module: Main
//==============================================================================

.main {
  @extend %clearfix;
  @include link-color($base-link-color, $base-link-color, "underline", "none", $base-link-color, true);
  @include media-queries(large) {
    float: none;
    width: 100%;
  }

  float: left;
  width: $content-width-main;
  padding: 50px 0;
}

.main__title {
  @extend %title;

  margin: 0 0 50px;
}

.main__pagination {
  text-align: center;
}

.main__pagination--prev {
  display: inline-block;
  color: $key-color-2-ll;

  a::before,
  span::before {
    @extend %icon;

    content: "\f100";
  }
}

.main__pagination--next {
  display: inline-block;
  color: $key-color-2-ll;

  a::after,
  span::after {
    @extend %icon;

    content: "\f101";
  }
}

.main__pagination--number {
  display: inline-block;
  margin: 0 2rem;
}
