<div class="sidebar">

  <aside>
    <form class="searchbox" action="http://www.google.co.jp/cse" id="cse-search-box" target="_blank">
      <div class="searchbox__text">
        <input type="hidden" name="cx" value="partner-pub-5462710571601739:3744752482">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="text" name="q" size="55">
      </div>
      <div class="searchbox__submit">
        <input type="submit" name="sa" value="検索">
      </div>
    </form>
    <script src="//www.google.com/jsapi"></script>
    <script>
      google.load("elements", "1", {packages: "transliteration"});
    </script>
    <script src="//www.google.com/cse/t13n?form=cse-search-box&amp;t13n_langs=en"></script>
    <script src="'//www.google.co.jp/coop/cse/brand?form=cse-search-box&amp;lang=ja"></script>
  </aside>

  <aside>
    <h2 class="sidebar__title">Pinterest</h2>
    <div class="pinterest">
      <a href="http://www.pinterest.com/urakey/" data-pin-do="embedUser">Visit akey's profile on Pinterest.</a>
      <script src="//assets.pinterest.com/js/pinit.js" async defer="defer"></script>
    </div>
  </aside>

  <aside>
    <h2 class="sidebar__title">Ads</h2>
    <div class="ad--300">
      <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async defer="defer"></script>
      {{ "<!-- blog: log Responsive -->" | safeHTML }}
      <ins class="adsbygoogle" data-ad-client="ca-pub-5462710571601739" data-ad-slot="6545665286" data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </aside>

  <nav>
    <h2 class="sidebar__title">Tags</h2>
    <ul class="sidebar__list--tags">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li><a href="{{ "/tags/" | relURL }}{{ $name | urlize }}" rel="tag">{{ $name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  <nav>
    <h2 class="sidebar__title">Categories</h2>
    <ul class="sidebar__list--categories">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <li><a href="{{ "/categories/" | relURL }}{{ $name | urlize }}" rel="tag category">{{ $name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  <nav>
    <h2 class="sidebar__title">Archives</h2>
    <ul class="sidebar__list--archives">
      {{ range .Site.Params.archives }}
        <li><a href="/{{ . }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
  </nav>

  <aside>
    <h2 class="sidebar__title">Recommend</h2>
    <div class="sidebar__recommend">
      <figure>
        <img src="http://ecx.images-amazon.com/images/I/512wo9i9iSL.jpg" alt="" width="100">
        <figcaption><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4774144665/chocolateboard-22/" target="_blank">JavaScript本格入門　～モダンスタイルによる基礎からAjax・jQueryまで</a></figcaption>
      </figure>
      <p>とってもわかりやすいし、大事なことが書いてあるのでオススメです :D</p>
    </div>
    <div class="sidebar__recommend">
      <figure>
        <img src="http://ecx.images-amazon.com/images/I/41HX4p9BPSL.jpg" alt="" width="100">
        <figcaption><a href="http://www.amazon.co.jp/exec/obidos/ASIN/B003N1XSIE/chocolateboard-22/" target="_blank">DELFONICS ロルバーン ポケット付きメモ（L）【レッド】 NRP03 RE</a></figcaption>
      </figure>
      <p>何度も何度も買っている愛用品 XD 毎回何色にしよっかなーと悩む</p>
    </div>
  </aside>

  <aside>
    <h2 class="sidebar__title">Hatena</h2>
    <ul id="HatenaEntries" class="sidebar__list"></ul>
  </aside>

  <aside>
    <h2 class="sidebar__title">Ads</h2>
    <div class="ad--125">
      <ul>
        <li>
          <a href="http://px.a8.net/svt/ejp?a8mat=25VU94+9NP6U2+D8Y+BXYE9" target="_blank" onClick="ga( 'send', 'event', 'sideAD', 'Click', 'A8-sakuraVPS-125' );">
            <img src="http://www25.a8.net/svt/bgt?aid=130815976584&wid=002&eno=01&mid=s00000001717002006000&mc=1" alt="" border="0" width="125" height="125">
            <img src="http://www14.a8.net/0.gif?a8mat=25VU94+9NP6U2+D8Y+BXYE9" alt="" class="assistive" border="0" width="1" height="1">
          </a>
        </li>
        <li>
          <a href="http://px.a8.net/svt/ejp?a8mat=1NS9OY+7IAU6Y+348+1C4941" target="_blank" onClick="ga( 'send', 'event', 'sideAD', 'Click', 'A8-mumuDomain-125' );">
            <img src="http://www21.a8.net/svt/bgt?aid=100416274454&wid=002&eno=01&mid=s00000000404008082000&mc=1" alt="" border="0" width="125" height="125">
            <img src="http://www17.a8.net/0.gif?a8mat=1NS9OY+7IAU6Y+348+1C4941" alt="" class="assistive" border="0" width="1" height="1">
          </a>
        </li>
        <li>
          <a href="http://px.a8.net/svt/ejp?a8mat=1TK0RQ+4KBOII+348+IGV6P" target="_blank" onClick="ga( 'send', 'event', 'sideAD', 'Click', 'A8-colorMe-125' );">
            <img src="http://www21.a8.net/svt/bgt?aid=110109158276&wid=002&eno=01&mid=s00000000404003102000&mc=1" alt="" border="0" width="125" height="125">
            <img src="http://www14.a8.net/0.gif?a8mat=1TK0RQ+4KBOII+348+IGV6P" alt="" class="assistive" border="0" width="1" height="1">
          </a>
        </li>
        <li>
          <a href="http://px.a8.net/svt/ejp?a8mat=25YAWC+3ZHICA+74E+6BU5T" target="_blank" onClick="ga( 'send', 'event', 'sideAD', 'Click', 'A8-RakutenBank-125' );">
            <img src="http://www21.a8.net/svt/bgt?aid=130930860241&wid=002&eno=01&mid=s00000000923001063000&mc=1" alt="" border="0" width="125" height="125">
            <img src="http://www14.a8.net/0.gif?a8mat=25YAWC+3ZHICA+74E+6BU5T" alt="" class="assistive" border="0" width="1" height="1">
          </a>
        </li>
      </ul>
    </div>
  </aside>

</div>
