{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="main" role="main">
  <h2 class="main__title">Recent posts</h2>
  <ul class="articleList">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "!=" "page") }}
    {{ range $paginator.Pages }}
      <li class="articleList__item">
        {{ .Render "summary" }}
      </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
